# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
[Bb]in/
[Oo]bj/
[Xx]64/
[Xx]86/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.sln.docstates
*.log
*.tlog
*.pdb
*.idb
*.opendb
*.db
*.sdf
*.ipch
